@import url(//db.onlinewebfonts.com/c/6a6c946c81961ceab1711da6da2b26af?family=Akira+Expanded);

*{
    margin : 0px;
    padding : 0px;
}

body{
    margin:0px;
    background-color : #2C3333;
}


.isi1{
    position : relative;
    display: flex;
    align-items : center;
    justify-content : center;
    width: 100%;
    height : 750px;
    background-color : #2C3333;
    color : white;
    font-family : "Futura Bk BT", sans-serif;  
    overflow: hidden;
}

#subtitle span{
    font-family : "Futura Md BT", sans-serif;
    font-weight : 600;
}

#subtitle{
    font-size : 40px;
    width : 400px;
}

#selamatD{  
    font-size : 50px;
    font-family : "akira expanded", sans-serif;
}

.col-2, .col-9, .row{
    margin : 0px;
    padding : 0px;
    width: 600px;
}

.col-9 p{
    text-align:justify;
    width : 500px;  
    font-family : "futura Bk BT", sans-serif;
    font-size : 20px;
    font-weight: 500;
}

.container-isi1{ 
    display : flex;
    justify-content : center;

    height : 500px;
}

.navBar{
    background-image : linear-gradient(rgba(44, 51, 51,1) , rgba(44, 51, 51,0));
    /* background-color : rgba(44,51,51,1); */
    z-index : 10;
}

.navbar-nav{
    display : flex;
    align-items : center;
    justify-content: end;
}

.navBar-warnaTP a{
    font-size : 20px;
    color : white;
    font-family : poppins, sans-serif;
}

.dropdown-menu, .dropdown-menu a{
    background-color : black;
    font-size : 15px;
}

.logoHM{
    margin-left : 30px;
    width : 78px;
    height : 78px;
}

.btnAspirasi{
    padding :5px 15px 5px 15px;
    border:2px solid white;
    border-radius : 25px;
    background : none;
    color : white;
}

.btnAspirasi:hover{
    background-color : white;
    color : #2C3333;
}

.row{
    width : 100%;   
}

.col{
    width : 500px;
}

.gmbr1{
    left : 100px;
    width : 500px;
    height : auto;
    opacity : 100%;
    margin-right : 50px;
}

.backgroundGam1{
    position : relative;
    display : flex;
    justify-content : center;
    width : 750px;
    right : -100px;
    background-color : white;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    animation-name : backgroundGam1;
    animation-duration : 2s;
}


.col-9{
    position : relative;
    left : 0px;
    animation-name : col-9Animated;
    animation-duration: 3s;
}

@keyframes col-9Animated{
    from{
        left : -100px;
        opacity : 0%;
    }
    to{
        left:0px;
        opacity:100%
    }
}

@keyframes backgroundGam1{
    from{
        right : -500px;
        opacity : 0%;
    }
    to{
        right : -100px; 
        opacity : 100%;
    }
}


.isi2{
    display : flex;
    align-items : center;
    background-color : white;
    width : 100%;
    height : 700px;
    font-family : "poppins", sans-serif;
}

.isi3{
    background-color : #2C3333;
    width : 100%;
    height : 730px;
    font-family : "poppins", sans-serif;
}

.card{
    width : 400px;
}





